@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
}

form {
   background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%; /* Largeur du formulaire */
    margin: 0 auto; /* Centre le formulaire horizontalement */
    display: block;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"],
button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover,
button:hover {
    background-color: #45a049;
}

button {
    background-color: #333;
}

button:hover {
    background-color: #d32f2f;
}

button,
a {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}
